{% extends 'master.html' %}
{% load static %}

{% block content %}


			<!-- start banner Area -->
			<section class="relative about-banner">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
							Page Details
							</h1>
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span><a href="blog-home.html">Blog </a> <span class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Blog Details Page</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-12">
									<div class="feature-img">
										<img class="img-fluid" src="{{detail.photo.url}}" alt="">
									</div>
								</div>
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										{% for i in detail.tag.all %}
										<li><a href="#">{{i}}</a></li>
										{% endfor %}
									</ul>
									<div class="user-details row">

										<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{detail.pub_date}}</a> <span class="lnr lnr-calendar-full"></span></p>

									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<h3 class="mt-20 mb-20">{{detail.title}}</h3>
									<p class="excert">
										{{detail.shortTxt}}
									</p>

								</div>
								<div class="col-lg-12">
									<div class="quotes">
										{{detail.content | safe}}
									</div>
									<div class="row mt-30 mb-30">
										<div class="col-6">
											<img class="img-fluid" src="img/blog/post-img1.jpg" alt="">
										</div>
										<div class="col-6">
											<img class="img-fluid" src="img/blog/post-img2.jpg" alt="">
										</div>
										<div class="col-lg-12 mt-30">
										</div>
									</div>
								</div>
							</div>
							<div class="navigation-area">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
										<div class="thumb">
											<a href="#"><img class="img-fluid" src="{% static 'img/blog/prev.jpg' %}" alt=""></a>
										</div>
										<div class="arrow">
											<a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
										</div>
										<div class="detials">
											<p>Prev Post</p>
											<a href="#"><h4>Space The Final Frontier</h4></a>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
										<div class="detials">
											<p>Next Post</p>
											<a href="#"><h4>Telescopes 101</h4></a>
										</div>
										<div class="arrow">
											<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
										</div>
										<div class="thumb">
											<a href="#"><img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt=""></a>
										</div>
									</div>
								</div>
							</div>



							{% if comments %}
							<div class="comments-area">
								{% if comments|length > 1%}
								<h4>{{comments|length}} Comments</h4>
								{% else %}
								<h4>{{comments|length}} Comment</h4>
								{% endif %}
								{% for com in comments %}
								<div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="desc">
                                                <h5><a href="#">{{com.name}}</a></h5>
                                                <p class="date">{{com.date}} </p>
                                                <p class="comment">
                                                    {{com.comment}}
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
									{% endfor %}

							</div>
							{% else %}
							<h4>You can be the first commenter </h4>

							{% endif %}


							<div class="comment-form">
								<h4>Leave a Comment</h4>
								<form method="POST" action="">
									{% csrf_token %}
									<div class="form-group form-inline">
									  <div class="form-group col-lg-6 col-md-12 name">
									    <input type="text" class="form-control" id="name" name = "name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" required>
									  </div>
									  <div class="form-group col-lg-6 col-md-12 email">
									    <input type="email" class="form-control" id="email" name = "email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" required>
									  </div>
									</div>
									<div class="form-group">
										<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
									</div>
									<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
									{% for message in messages %}

									<p id="messages" class="p-3 mb-2 bg-success text-white">{{message}} </p>

									{% endfor %}

									<script>
										$(document).ready(function() {
										$('#messages').fadeOut(10000); // 10 seconds x 1000 milisec = 5000 milisec
										});
									</script>

									<input class="primary-btn text-uppercase" type="submit" value = "Post Comment">
								</form>

							</div>
						</div>
						<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget search-widget">
									<form class="search-form" action="#">
			                            <input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
			                            <button type="submit"><i class="fa fa-search"></i></button>
			                        </form>
								</div>
								<div class="single-sidebar-widget user-info-widget">
									<img src="img/blog/user-info.png" alt="">
									<a href="#"><h4>Follow Me</h4></a>
									<p>
										Stay Conneted with US
									</p>
									<ul class="social-links">
										<li><a href="{{site.fb}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="{{site.tw}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="{{site.gh}}" target="_blank"><i class="fa fa-github"></i></a></li>
										<!--<li><a href="#"><i class="fa fa-behance"></i></a></li>-->
									</ul>

								</div>
								<div class="single-sidebar-widget popular-post-widget">
									<h4 class="popular-title">Popular Posts</h4>
									<div class="popular-post-list">
										{% for posts in popularpost %}
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" style="width:100px;height:50px;" src="{{posts.photo.url}}" alt="">
											</div>
											<div class="details">
												<a href="{% url 'blogdetails' word=posts.urltitle %}"><h6>{{posts.title}}</h6></a>
												<p>{{posts.pub_date}}</p>
											</div>
										</div>
										{% endfor %}

									</div>
								</div>
								<div class="single-sidebar-widget ads-widget">
									<a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
								</div>
								<div class="single-sidebar-widget post-category-widget">
									<h4 class="category-title">Post Catgories</h4>
									<ul class="cat-list">
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Technology</p>
												<p>37</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Lifestyle</p>
												<p>24</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Fashion</p>
												<p>59</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Art</p>
												<p>29</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Food</p>
												<p>15</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Architecture</p>
												<p>09</p>
											</a>
										</li>
										<li>
											<a href="#" class="d-flex justify-content-between">
												<p>Adventure</p>
												<p>44</p>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End post-content Area -->

{% endblock %}
